{{!< ../default}}

<header class="site-header">
    {{> site-header}}
</header>
<main id="site-main" class="site-main site-signup outer">
    <div class="inner">

        {{#if @member.paid}}

        {{!-- Logged in, paying member: Redirect home --}}
        <script>window.location = '{{@site.url}}';</script>

        {{else}}

        {{!-- Logged in, not paying: Check out --}}
        <div class="checkout-form">
            <h1 class="checkout-title">Support my work</h1>
            <p>Help me to keep <span style="font-style:oblique">Like a Fucking Grownup</span> free (and ad-free) by signing up for a paid membership, if you can afford it! Paid members get a handwritten thank you postcard from me once a year, and my eternal gratitude.</p>
            <div class="checkout-box">
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>Monthly</h3>
                        <span>{{@price.currency_symbol}}</span><strong>{{@price.monthly}}</strong> / month
                    </header>
                    <div class="checkout-plan-content">
                        <ul>
                            {{!-- <li>Full access to all private posts</li>
                            <li>Weekly newsletter</li>
                            <li>No ads</li> --}}
                            <li>Annual thank you postcard</li>
                            <li>Simple, secure card payment</li>
                            <li>Sam's eternal love and thanks</li>
                        </ul>
                        <a class="button primary fit" href="javascript:" data-members-plan="Monthly">Choose this
                            plan</a>
                    </div>
                </div>
                <div class="checkout-plan">
                    <header class="checkout-plan-header">
                        <h3>Yearly</h3>
                        <span>{{@price.currency_symbol}}</span><strong>{{@price.yearly}}</strong> / year
                    </header>
                    <div class="checkout-plan-content">
                        <ul>
                            {{!-- <li>Full access to all private posts</li>
                            <li>Weekly newsletter</li>
                            <li>No ads</li> --}}
                            <li>Annual thank you postcard</li>
                            <li>Simple, secure card payment</li>
                            <li>Sam's eternal love and thanks</li>
                            <li><strong>One easy payment instead of 12</strong></li>
                            <li><strong>Extra 30% discount</strong></li>
                        </ul>
                        <a class="button primary fit" href="javascript:" data-members-plan="Yearly">Choose this plan</a>
                    </div>
                </div>
            </div>
            <p style="text-align:center;margin-top:2rem;"><small>Already have an account? <a href="/signin/">Sign in</a></small></p>
            <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to confirm your
                subscription</div>
            <div class="message-error">Please enter a valid email address!</div>
        </div>

        {{/if}}

    </div>
</main>